<a href="https://colab.research.google.com/github/rderakhshan/Pyspark-Datacleaning-Readme/blob/main/The_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Welcome to the Notebook**

### Let's mount the google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Task 1 : 
Installing pyspark module

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 57.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=1ccf0d5e9816435933a3882b1ac9f05e54b58d7dc0f979bfe6a3556b7176f594
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

Importing the modules

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, desc , col, max 
import matplotlib.pyplot as plts

creating spark session

In [7]:
spark = SparkSession.builder.appName('Bigdata-cleaning').getOrCreate()

# Task 2 : 
importing the *Listenings.csv* file:

In [12]:
df = spark.read.csv('/content/drive/MyDrive/dataset/listenings.csv', header = True, inferSchema = True)

let's check the data:

let's delete useless columns:

In [14]:
df.show()
print('The shape of a given dataframe is ({}, {})'.format(df.count(), len(df.columns)))

+-----------+-------------+--------------------+---------------+--------------------+
|    user_id|         date|               track|         artist|               album|
+-----------+-------------+--------------------+---------------+--------------------+
|000Silenced|1299680100000|           Price Tag|       Jessie J|         Who You Are|
|000Silenced|1299679920000|Price Tag (Acoust...|       Jessie J|           Price Tag|
|000Silenced|1299679440000|Be Mine! (Ballad ...|          Robyn|            Be Mine!|
|000Silenced|1299679200000|            Acapella|          Kelis|            Acapella|
|000Silenced|1299675660000|   I'm Not Invisible|      The Tease|   I'm Not Invisible|
|000Silenced|1297511400000|Bounce (Feat NORE...|       MSTRKRFT|         Fist of God|
|000Silenced|1294498440000|Don't Stop The Mu...|        Rihanna|Addicted 2 Bassli...|
|000Silenced|1292438340000|               ObZen|      Meshuggah|               ObZen|
|000Silenced|1292437740000|   Yama's Messengers|         Gojira|The Way of All Flesh|
|000Silenced|1292436360000|On the Brink of E...|   Napalm Death|Time Waits For No...|
|000Silenced|1292436360000|On the Brink of E...|   Napalm Death|Time Waits For No...|
|000Silenced|1292435940000|        In Deference|   Napalm Death|      Smear Campaign|
|000Silenced|1292434920000|      Post(?)organic|    Decapitated|Organic Hallucinosis|
|000Silenced|1292434560000|        Mind Feeders|   Dom & Roland| No Strings Attached|
|000Silenced|1292434320000|Necrosadistic War...|Cannibal Corpse|                Kill|
|000Silenced|1292365560000|     Dance All Night|   Dom & Roland|          Chronology|
|000Silenced|1292365260000|          Late Night|   Dom & Roland|          Chronology|
|000Silenced|1292365020000|          Freak Seen|   Dom & Roland|          Chronology|
|000Silenced|1292364720000|Paradrenasite (Hi...|   Dom & Roland|          Chronology|
|000Silenced|1292364300000|               Rhino|   Dom & Roland|          Chronology|
+-----------+-------------+--------------------+---------------+--------------------+
only showing top 20 rows

The shape of a given dataframe is (14650594, 5)

In [15]:
df = df.na.drop()

drop the null rows:

In [16]:
df.show()
print('The shape of a given dataframe is ({}, {})'.format(df.count(), len(df.columns)))

+-----------+-------------+--------------------+---------------+--------------------+
|    user_id|         date|               track|         artist|               album|
+-----------+-------------+--------------------+---------------+--------------------+
|000Silenced|1299680100000|           Price Tag|       Jessie J|         Who You Are|
|000Silenced|1299679920000|Price Tag (Acoust...|       Jessie J|           Price Tag|
|000Silenced|1299679440000|Be Mine! (Ballad ...|          Robyn|            Be Mine!|
|000Silenced|1299679200000|            Acapella|          Kelis|            Acapella|
|000Silenced|1299675660000|   I'm Not Invisible|      The Tease|   I'm Not Invisible|
|000Silenced|1297511400000|Bounce (Feat NORE...|       MSTRKRFT|         Fist of God|
|000Silenced|1294498440000|Don't Stop The Mu...|        Rihanna|Addicted 2 Bassli...|
|000Silenced|1292438340000|               ObZen|      Meshuggah|               ObZen|
|000Silenced|1292437740000|   Yama's Messengers|         Gojira|The Way of All Flesh|
|000Silenced|1292436360000|On the Brink of E...|   Napalm Death|Time Waits For No...|
|000Silenced|1292436360000|On the Brink of E...|   Napalm Death|Time Waits For No...|
|000Silenced|1292435940000|        In Deference|   Napalm Death|      Smear Campaign|
|000Silenced|1292434920000|      Post(?)organic|    Decapitated|Organic Hallucinosis|
|000Silenced|1292434560000|        Mind Feeders|   Dom & Roland| No Strings Attached|
|000Silenced|1292434320000|Necrosadistic War...|Cannibal Corpse|                Kill|
|000Silenced|1292365560000|     Dance All Night|   Dom & Roland|          Chronology|
|000Silenced|1292365260000|          Late Night|   Dom & Roland|          Chronology|
|000Silenced|1292365020000|          Freak Seen|   Dom & Roland|          Chronology|
|000Silenced|1292364720000|Paradrenasite (Hi...|   Dom & Roland|          Chronology|
|000Silenced|1292364300000|               Rhino|   Dom & Roland|          Chronology|
+-----------+-------------+--------------------+---------------+--------------------+
only showing top 20 rows

The shape of a given dataframe is (13758905, 5)

let's check the dataset again:

let's see the schema:

In [17]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- date: long (nullable = true)
 |-- track: string (nullable = true)
 |-- artist: string (nullable = true)
 |-- album: string (nullable = true)

let's see the shape of our dataframe:

# Task 3:

**Query #0:**
select two columns: track and artist

In [18]:
# Task 3:
df.select('track', 'artist').show(10, truncate = False)

+--------------------------------------------+------------+
|track                                       |artist      |
+--------------------------------------------+------------+
|Price Tag                                   |Jessie J    |
|Price Tag (Acoustic Version)                |Jessie J    |
|Be Mine! (Ballad Version)                   |Robyn       |
|Acapella                                    |Kelis       |
|I'm Not Invisible                           |The Tease   |
|Bounce (Feat NORE + ISIS)                   |MSTRKRFT    |
|Don't Stop The Music (Wideboys Bassline Mix)|Rihanna     |
|ObZen                                       |Meshuggah   |
|Yama's Messengers                           |Gojira      |
|On the Brink of Extinction                  |Napalm Death|
+--------------------------------------------+------------+
only showing top 10 rows

**Query #1**:

Let's find all of the records of those users who have listened to ***Rihanna***

In [36]:
# Pandas way
# df_rihann = df[df['artist'] == 'Rihanna'].show(10, truncate = False)
# Pyspark way
df_rihann = df.select('*').filter(df.artist == 'Rihanna')
df_rihann.show(10, truncate = False)

+-----------+-------------+--------------------------------------------+-------+-------------------------------+
|user_id    |date         |track                                       |artist |album                          |
+-----------+-------------+--------------------------------------------+-------+-------------------------------+
|000Silenced|1294498440000|Don't Stop The Music (Wideboys Bassline Mix)|Rihanna|Addicted 2 Bassline CD1        |
|000Silenced|1285438440000|Disturbia                                   |Rihanna|Good Girl Gone Bad: The Remixes|
|00williamsl|1361485800000|Hatin On The Club                           |Rihanna|Random                         |
|00williamsl|1361485800000|Hatin On The Club                           |Rihanna|Random                         |
|00williamsl|1361048640000|Complicated                                 |Rihanna|Loud                           |
|00williamsl|1360439280000|What's My Name (feat Drake)                 |Rihanna|Loud                           |
|00williamsl|1360434480000|Kanye West feat Rihanna - All Of The Lights |Rihanna|Loud                           |
|0502008    |1440985800000|Only Girl (In the World)                    |Rihanna|Loud                           |
|0rdos      |1319599320000|Pon De Replay (Remix)                       |Rihanna|Music of the Sun               |
|0rdos      |1319599080000|Now I Know                                  |Rihanna|Music of the Sun               |
+-----------+-------------+--------------------------------------------+-------+-------------------------------+
only showing top 10 rows

**Query #2:**

Let's find top 10 users who are fan of ***Rihanna***

In [35]:
# Pandas way
# df_rihann = df[df['artist'] == 'Rihanna'].show(10, truncate = False)
# Pyspark way
df_rihann = df.select('*').filter(df.artist == 'Rihanna').groupby('user_id').count().orderBy(desc('count'))
df_rihann.show(10, truncate = False)

+---------------+-----+
|user_id        |count|
+---------------+-----+
|thiessu        |179  |
|eyessetkyle    |166  |
|adxx           |164  |
|missnumberthree|156  |
|helloiamnatalie|128  |
|nmjnb          |124  |
|AndyyyA        |123  |
|BIGBANG186     |121  |
|mixedvibes     |120  |
|AndyKitt       |115  |
+---------------+-----+
only showing top 10 rows

**Query #3:**

find top 10 famous tracks

In [38]:
df_track = df.select('*').groupby('track').count().orderBy(desc('count'))
df_track.show(10, truncate = True)

+-------+-----+
|  track|count|
+-------+-----+
|  Intro|13176|
|   Home| 7576|
|  Hello| 6961|
|Hold On| 5857|
|   Work| 4889|
|  Sorry| 4824|
|   Baby| 4646|
|Runaway| 4429|
| Closer| 4287|
|   Fire| 4141|
+-------+-----+
only showing top 10 rows

**Query #4:**

find top 10 famous tracks of ***Rihanna***

In [41]:
df_rihann_track = df.select('*').filter(df.artist == 'Rihanna').groupby('track').count().orderBy(desc('count'))
df_rihann_track.show(10, truncate = True)

+--------------------+-----+
|               track|count|
+--------------------+-----+
|                Work| 2646|
|Only Girl (In the...| 1749|
|We Found Love (fe...| 1575|
|                 S&M| 1307|
|            Rude Boy| 1303|
|            Diamonds| 1224|
|      Kiss it Better|  945|
| Where Have You Been|  844|
|Cheers (Drink to ...|  697|
|           Needed Me|  679|
+--------------------+-----+
only showing top 10 rows

**Query #5:**

find top 10 famous albums

In [44]:
df_albums = df.select('*').groupby('Album').count().orderBy(desc('count'))
df_albums.show(10, truncate = True)

+--------------------+-----+
|               Album|count|
+--------------------+-----+
|       Greatest Hits|67892|
|   The Life Of Pablo|22311|
|                  AM|14264|
|                  xx|14198|
|     An Awesome Wave|13673|
|        Sigh No More|13556|
|Whatever People S...|12731|
|            For Emma|11995|
|          Art Angels|11694|
|                  21|11576|
+--------------------+-----+
only showing top 10 rows

# Task 4 :
importing the ***genre.csv*** file:

In [46]:
df_genere = spark.read.csv( '/content/drive/MyDrive/dataset/genre.csv', header = True, inferSchema =  True)
df_genere.show(10, truncate = True)

+--------------------+-----+
|              artist|genre|
+--------------------+-----+
|                Muse| rock|
|             Nirvana| rock|
|            Bon Jovi| rock|
|          The Police| rock|
|                Kiss| rock|
|       Guns N' Roses| rock|
|         Rusted Root| rock|
|Katrina and the W...|  pop|
|         The Beatles| rock|
|        Hall & Oates|  pop|
+--------------------+-----+
only showing top 10 rows

let's check the data

In [47]:
print('The shape of given dataframe is ({},{})'.format(df_genere.count(), len(df_genere.columns)))

The shape of given dataframe is (138432,2)

Let's inner join these two data frames

**Query #6**

find top 10 users who are fan of ***pop*** music

In [81]:
df_pop = df.join(df_genere, how = 'inner', on = ["artist"])

df_pop_10 = df_pop.filter(df_pop.genre == 'pop').groupby('user_id').count().orderBy(desc('count'))

df_pop_10.show(10, truncate = True)

+---------------+-----+
|        user_id|count|
+---------------+-----+
|        01Green|  496|
|          mrpsb|  400|
|      momousagi|  400|
|   BlueKnockOut|  378|
|    musicboy80s|  376|
|  incultojurgis|  374|
| ElektricOrchid|  370|
|foreign_fanatic|  350|
|   Kevin_Soutar|  346|
|  landrover2171|  301|
+---------------+-----+
only showing top 10 rows

**Query #7**

find top 10 famous genres

In [78]:
df_fan_pop = df_pop.select('*').groupby('genre').count().orderBy(desc('count'))
df_fan_pop.show(10, truncate = True)

+----------+-------+
|     genre|  count|
+----------+-------+
|      rock|2691934|
|       pop|1544747|
|electronic| 551509|
|   hip hop| 532984|
|      folk| 438174|
|indie rock| 431439|
|      punk| 380915|
|       r&b| 344101|
|     metal| 208107|
|     indie| 206726|
+----------+-------+
only showing top 10 rows

# Task 5:
**Query #8**

find out each user favourite genre

In [84]:
df_favorite_genre = df_pop.select('user_id', 'genre').groupby('user_id', 'genre').count()\
                    .orderBy(desc('count'))
df_favorite_genre.show(10, truncate = True)

+-------------+--------------------+-----+
|      user_id|               genre|count|
+-------------+--------------------+-----+
|    mrsands91|                 r&b|  952|
|    Benjiibop|                 r&b|  950|
|    sbrooks91|                 r&b|  915|
|      Pete557|                 r&b|  836|
|     _Seichi_|                 r&b|  765|
|    b00g13man| Associated Perfo...|  745|
|      Kaigamo|                 r&b|  741|
|  Kojobimpong|                jazz|  722|
|dejectedxcore|            synthpop|  665|
|  pussycatboi|                 r&b|  664|
+-------------+--------------------+-----+
only showing top 10 rows

**Query #9**

find out how many pop,rock,metal and hip hop singers we have

and then visulize it using bar chart

Now, let's visualize the results using ***matplotlib***

now lets visualize these two lists using a bar chart